<div class="competition__members__table h-96 py-5 overflow-y-scroll">
  <div class="sm:flex sm:items-center px-8 my-5 dark:text-white">
    <div class="sm:flex-auto">
      <h1 class="text-base font-medium">All Competition Members</h1>
    </div>
    <a routerLink="create" class="inline-flex items-center justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">New Member</a>
  </div>
  <app-table></app-table>
</div>
<div class="competition__table__pagination">
  <app-global-pagination></app-global-pagination>
</div>
