<div class="xl:w-72 w-48 flex-shrink-0 border-r border-gray-200 dark:border-gray-800 h-full overflow-y-auto lg:block hidden">
  <div class="header__search__wrapper sticky top-0 left-0 p-5 w-full bg-slate-900 z-10">
    <div class="text-xs text-gray-400 tracking-wider">USERS</div>
    <div class="relative mt-2">
      <input type="text" class="pl-8 h-9 bg-transparent border border-gray-300 dark:border-gray-700 dark:text-white w-full rounded-md text-sm" placeholder="Search" />
      <svg viewBox="0 0 24 24" class="w-4 absolute text-gray-400 top-1/2 transform translate-x-0.5 -translate-y-1/2 left-2" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
    </div>
  </div>
  <div class="space-y-4 flex flex-col mt-3 px-5 pb-5">
    @for (competition of competitions; track competition){
    <app-competition-card [competition]="competition"></app-competition-card>
    }
  </div>
  <div class="competitions__pagination sticky bottom-0 right-0 p-5 w-full bg-slate-900 z-10">
    <app-pagination></app-pagination>
  </div>
</div>
